.video-js {
  width: 100%;
}

.vjs-playback-rate-value{
  font-size: 12px !important;
  margin-top: 2px;
}

.vjs-control-bar {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%) !important;
}

.vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}

.vjs-slider-bar {
  background-color: #b73f39 !important;
}

.vjs-load-progress div {
  background: #c1965696 !important;
}